<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title> Dashboard User </title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <style>
            .ml-30{
                margin-left:30px;
            }
            .br-15{
                border-radius: 15px;
            }
        </style>
    </head>
    <body class="col-lg-12 sb-nav-fixed" style="background-color:white">
        <!-- <div th:replace="fragments/user::header-home"></div> -->
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand">Metro Data</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <!-- <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div> -->
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">   
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="home">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="history">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                History
                            </a>
                            <div class="sb-sidenav-menu-heading">Profiling</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                Profile
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="basic">Basic</a>
                                    <!-- <a class="nav-link" href="#">Education</a>
                                    <a class="nav-link" href="#">Occupation</a>
                                    <a class="nav-link" href="#">Address</a> -->
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        <p th:text="${nama}"></p>
                    </div> -->
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                         <div style='text-align: center;padding-top: 3%;'>
                            <!-- <font class='h2'> <strong> Pelaporan Masalah Metrodata </strong> </font>
                            <h5>Sampaikan masalah anda langsung kepada divisi yang bersangkutan</h5> -->
                            <center>
                            <div class="container pt-10">
                                <div class="col-9 shadow pt-3 pb-5 br-15 mt-4 mb-5 pr-5 p-5" style="background-color: white">
                                    <h4><strong>Silahkan Isikan Laporan Anda</strong></h4>
                                    <form th:action="@{savelaporan}" method="POST">
                                        <div class="pr-4">
                                            <table cellpadding="10">
                                            <tr>
                                                <td> 
                                                    <input type="text" id="judulLaporan" class='form-control' placeholder="Masukkan Judul Laporan*" name="judulLaporan"/> 
                                                    <input type="text" id="tanggalLaporan" hidden="true" value="2000/12/13" name="tanggalLaporan"/>
                                                    <!-- <input type="text" id="tanggalLaporan" hidden="true" value="" name="tanggalLaporan"/> -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select class='form-control' name="divisi" id="division">
                                                        <option value="" disabled selected>Pilih Divisi Tujuan*</option>
                                                        <option th:each="division : ${divisies}" th:value="${division.id}" th:text="${division.namaDivisi}"> </option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> 
                                                    <textarea rows="4" cols="50" id="isiLaporan" name="isiLaporan" class='form-control' style="resize: none" placeholder="Masukan isi laporan anda*"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <input type="hidden" name="currentStatus" value="1" />
                                                <input type="hidden" id="userid" name="user" th:value="${userid}"/>
                                            </tr>
                                            <tr>
                                                <textarea rows="4" cols="50" id="deskripsistatus" name="deskripsiStatus" hidden="true" class='form-control' style="resize: none"></textarea>
                                            </tr>
                                            </table>
                                            <input style="width:75%" type="submit" name="send" value="Kirim Laporan" class="btn btn-dark pl-5 pr-5 mt-4">
                                        </div>
                                    </form>
                                </div> 
                            </div>
                            </center>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>     
    <!--<div th:replace="fragments/user::footer"></div>-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/chart-area-demo.js"></script>
    <script src="/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/datatables-demo.js"></script>
    <script>
        document.querySelector('.btn-dark').addEventListener('click', success);
        function success() {
            swal("Laporan Berhasil Dikirim", "Pantau Email untuk Informasi Divisi Terkait", "success");
        }
    </script>
</body>
</html>